.breadcrumbs {
	font-size: 14px;
	margin: 1rem;
}

.breadcrumb a {
	color: rgb(0, 188, 212);
	text-decoration: none;
}

.services thead tr th:nth-of-type(1) {
	width: 200px;

}
.services tbody tr td:nth-of-type(1) {
	width: 200px;

}
